<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exception</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/4.6.0-1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron">
<!--    <div class="container text-center">-->
<!--        <br>-->
<!--        <h4  class="my-3">th:text="${status}"</h4>-->
<!--        <h2 th:text="${static}"></h2>-->
<!--        <h4 class="my-5"></h4>-->
<!--    </div>-->
</div>
<!--
<c:forEach items="${exception.stackTrace}" var="stackTrace">
    ${stackTrace}
</c:forEach>
-->

</body>
</html>