<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/4.6.0-1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/messages.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascript/messages.js"></script>
    <script src="webjars/bootstrap/4.6.0-1/js/bootstrap.min.js" defer></script>
</head>
<body>


<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <ul id="users-list" class="list-unstyled chat-list mt-2 mb-0">

                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="chat-about">
                                    <h6 id="user-name" class="m-b-0"></h6>
                                    <small id="user-status"></small>
                                </div>
                            </div>
                            <div class="col-lg-6 hidden-sm text-right">
                                <form method="post" action="logout">
                                    <button id="button-logout" onclick=logout() class="btn btn-primary my-1" type="button">
                                        <span class="fa fa-sign-out"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="chat-history" class="chat-history">
                        <ul id="chat" class="m-b-0">

                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <form id="content" name="content" class="input-group mb-0">
                            <div class="input-group-prepend">
                                <button onclick=sendMessage() type="button" id="send-message" class="input-group-text"><i class="fa fa-send"></i></button>
                            </div>
                            <input id="inoutMessage" name="content" type="text" class="form-control" placeholder="Enter text here...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
